<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/base.css") }}">
        {% block css %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="wallpaper"></div>
        <header>
            <div id="header-blur"></div>
            <nav>
                <a href="{{ path("shop") }}">IAMSI</a>
                {% if not is_granted('ROLE_USER') %}
                    <a href="{{ path("connection") }}">Connexion / S'inscrire</a>
                {% endif %}
                <a href="{{ path("shoppingCart") }}">Panier</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path("userInventory") }}">Inventaire</a>
                    <form method="post" action="{{ path("deconnection") }}">
                        <button id="disconnection-button">Déconnexion</button>
                    </form>
                {% endif %}
                <a href="#">Nuit</a>
            </nav>
        </header>

        <div id="flashes-container">
            {% for flashMsg in app.flashes("success") %}
                <span class="flashes flashes-success">{{ flashMsg }}</span>
            {% endfor %}
            {% for flashMsg in app.flashes("error") %}
                <span class="flashes flashes-error">{{ flashMsg }}</span>
            {% endfor %}
        </div>

        {% block main %}{% endblock %}
        <footer>

        </footer>
    </body>
</html>
