<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="wallpaper"></div>
        <header>
            <div id="header-blur"></div>
            <nav>
                <a href="{{ path("shop") }}">IAMSI</a>
                <a href="{{ path("connection") }}">Connexion</a>
                <a href="{{ path("registration") }}">Inscription</a>
                <a href="{{ path("shoppingCart") }}">Panier</a>
                <a href="#">Nuit</a>
                <form method="post" action="{{ path("deconnection") }}">
                    <button id="deconnexion-button">Déconnexion</button>
                </form>
            </nav>
        </header>

        <!-- message flash -->
        <div id="flashes-container">
            {% for flashMsg in app.flashes("succes") %}
                <span class="flashes flashes-success">{{ flashMsg }}</span>
            {% endfor %}
            {% for flashMsg in app.flashes("error") %}
                <span class="flashes flashes-error">{{ flashMsg }}</span>
            {% endfor %}
        </div>

        {% block main %}{% endblock %}
        <footer>

        </footer>
    </body>
</html>
