{% extends "base.html.twig" %}
{% block title %}Inventory{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/inventory.css") }}">{% endblock %}
{% block main %}
    <main>
    <div class="user-info-section">
        <div class="user-info card">
            <p class="user-name">{{ user.login }}</p>
        </div>
        <div class="user-stat card">
            <table id="user-stat-table">
                <tr>
                    <td>Date de création :</td>
                    <td>{{ user.creationDate.format('d-m-Y')}}</td>
                </tr>
                <tr>
                    <td>Nombre de blocs possédés :</td>
                    <td>Beaucoup</td>
                </tr>
            </table>
        </div>
    </div>

    <table id="user-inventory-table">
        {% if inventory is empty %}
            <p> Votre inventaire est vide au boulot!</p>
        {% else %}
            {%  for ligne in inventory %}
                    <tr class="card">
                        <td><img src="{{ ligne.product.imageProduct ? asset("img/products/uploads/" ~ ligne.product.imageProduct ~ "" ) : asset("img/products/undefined.png") }}" alt="product picture"></td>
                        <td class="inventory-item-name">{{ ligne.product.name }}</td>
                        <td class="inventory-item-qtty">{{ ligne.quantity }}</td>
                    </tr>
            {% endfor %}
        {% endif %}
    </table>
</main>
{% endblock %}