{% extends "base.html.twig" %}
{% block title %}Registration{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset("css/connection.css") }}">{% endblock %}
{% block javascript %}
<script defer type="text/javascript" src="{{ asset("js/shop.js") }}"></script>
{% endblock %}
{% block main %}
    <main>
        {{ form_start(form) }}
        <fieldset>
            <legend>Inscription</legend>
            {{ form_label(form.login, 'Login') }}
            {{ form_widget(form.login, {'id' : 'login'}) }}
            {{ form_label(form.plainPassword, 'Mot de passe') }}
            {{ form_widget(form.plainPassword, {'id' : 'plainPassword'}) }}
            {{ form_widget(form.registration, {'id' : "registration-new-submit", 'label' : "S'inscrire"}) }}
            <div id="fieldset-background" class="card"></div>
        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}